.rubik {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.text-center {
    text-align: center;
}

.text-white {
    color: #f5f6fa; 
}