/* Index */
html,
body {
  height: 100%;
}

body {
  /* Image background */
  background-image: url('D:/Development/ChetoPagina/static/img/chetovamush.webp');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  background-position: center center;
  height: 100%;
  position: relative;
}

// .video-bg-wrapper {
//   position: relative;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   #background-video {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     width: 100vw;
//     height: 100vh;
//     object-fit: cover;
//     transform: translate(-50%, -50%);
//     z-index: -1;
//   }
//   // Noise overlay
//   &::after {
//     content: "";
//     width: 100%;
//     height: 100%;
//     position: absolute;
//     top: 0;
//     left: 0;
//     background-color: rgba(0, 0, 0, 0.90);
//   }
// }

.content {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.logo {
  text-align: center;
}

.cheto-logo {
  width: 100%;
  max-width: 560px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-filter: drop-shadow(3px 3px 3px #222);
  filter: drop-shadow(3px 3px 3px #222);
}

.cta {
  text-decoration: none;
  border: 1px solid;
  padding: 5px 15px;
  border-radius: 4px;
  &:hover {
    color: black;
    background-color: #f5f6fa;
    border-color: #f5f6fa;
  }
}

.social {
  align-self: center;
}

.social-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.social-icon {
  width: 32px;
  mix-blend-mode: exclusion;
}

.styled-dialog {
  border: none;
  width: 100%;
  max-width: 550px;
  border-radius: 3px;
  position: relative;
  box-sizing: border-box;
  .inner-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    p {
      margin-bottom: 1rem;
    }
  }
  button {
    border: none;
    background: none;
    width: 100%;
    text-align: center;
  }
  button:focus-visible {
    outline: none;
  }
  // Backdrop
  &::backdrop {
    background-color: rgba(0, 0, 0, 0.8);
  }
}
