/* Imports */
@import "_utilities.scss";
@import "_font.scss";
@import "_grid.scss";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Index */
html,
body {
  height: 100%;
}

body {
  background-image: url('D:/Development/ChetoPagina/static/img/cheto.webp');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  background-position: center center;
  height: 100%;
  position: relative;

  @media (max-width: 600px) {
    background-position: 46% center;
  }

  @media (orientation: landscape) {
    background-color: black;
    background-position: -25vw center;
    position: relative;
    &::after {
      content: "";
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 100vw;
      background-image: linear-gradient(to right, transparent, black);
      z-index: 2;
    }
  }
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cheto-logo {
  background-image: url('D:/Development/ChetoPagina/static/img/cheto-logo-blanco.webp');
  height: 100%;
  width: auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  @media (max-width: 650px) {
    background-size: 75%;
  }
}

.cta {
  text-decoration: none;
  border: 1px solid;
  padding: 5px 15px;
  border-radius: 4px;
  &:hover {
    color: black;
    background-color: #f5f6fa;
    border-color: #f5f6fa;
  }
  @media (max-width: 600px) {
    display: block;
    max-width: 200px;
    margin: 0 auto 0;
    padding: 5px 15px;
    margin-top: .5rem;
  }
}

.social {
  align-self: center;
}

.social-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.social-icon {
  width: 32px;
  mix-blend-mode: exclusion;
}